@import url(../template/globals.css);

.album-container{
    margin-top: 30px;
    min-height: 210px;
    background-color: red;
    justify-content: center;
    margin-right: 20px;
}

.album-grid{
    flex: 1;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    gap: 10px;
}

.album{
    min-width: 175px;
    min-height: 210px;
    background-color: blue;
    display: inline-block;    
}