@import url(../template/globals.css);

.album-container{
    margin-top: 30px;
    max-height: 210px;
    justify-content: center;
    margin-right: 20px;
}

.album-grid{
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-height: 210px;
    background-color: red;
    gap: 10px;
}

.album{
    min-width: 175px;
    min-height: 210px;
    max-width: 175px;
    max-height: 210px;
    background-color: blue;
    display: inline-block;    
}

.image-container{
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.album-cover {
    text-align: center;
}

.cover-img {
    padding: 5%;
    margin: 0 auto;
    width: 100%;
    max-height: 170px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-button{
    align-items: center;
}