.player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--primaryColor-8);
    align-items: baseline;
    justify-items: center;
    align-items: center;
}

.song-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2vh;
}
.song-cover {
    width: 9vh;
}
.cover-img {
    width: 75%;
    border-radius: 10px;
}
.song-info {
    width: 15vh;
    justify-content: center;
}
.song-info h3 {
    color: white;
    font-size: 16px;
}
.song-info subtitle-2 {
    color: white;
    font-size: 12px;
}
.song-like {
    width: 25px;
}

#play-button {
    margin-bottom: 12px;
    width: 32px;
}

.play-container {
    flex-grow: 1;
    height: 100%;
    width: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}

.progress-value{
    color:white;
}

.max-value{
    color: white;
}

#seek{
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 100px;
    cursor: pointer;
    padding: 2px;
}


#seek::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22) ;
}

.song-line{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.volume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0px 24px;
    width: 20%;
}
#song {
    display: none;
    visibility: hidden;
}

#volume{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: white;
    border-radius: 100px;
    cursor: pointer;
    padding: 2px;
}


#volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22) ;
}