@import "../template/globals.css";
@import "../template/sidebar.css";

html,body{
    display: flex;
    justify-content: baseline;
    align-items: center;
    place-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--primaryColor-9);
}

.homepage-container {
    position: sticky;
    width: 80%;
    height: 86%;
    scroll-behavior:smooth;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    left: 30vh;
    margin-bottom: 8.5vh;
    background-color: var(--black);
    border-radius: 10px;
    padding: 4vh;
}

.homepage-container h1 {
    color: white;
}
.homepage-container h2 {
    color: white;
    margin: 35px 0px 15px 0px;
}

.new-album-list {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
    gap: 10px;
    width: 100%;
}
.new-album {
    background-color: var(--primaryColor-6);
    border-radius: 10px;
    height: 100%;
    max-width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.new-album:hover {
    background-color: var(--primaryColor-8);
}
.new-album:active {
    background-color: var(--primaryColor-8);
    transform: translateY(2px);
}
.new-album-cover {
    width: 100%;
    border-radius: 10px;
}
.new-album-title {
    margin-top: 5px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.new-song-list {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
    gap: 10px;
    width: 100%;
}
.new-song {
    background-color: var(--primaryColor-6);
    border-radius: 10px;
    height: 100%;
    max-width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.new-song:hover {
    background-color: var(--primaryColor-8);
}
.new-song:active {
    background-color: var(--primaryColor-8);
    transform: translateY(2px);
}
.new-song-cover {
    width: 100%;
    border-radius: 10px;
}
.new-song-title {
    margin-top: 5px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}
.new-song-artist {
    color: white;
    font-size: 14px;
}