@import "../template/globals.css";
@import "../template/sidebar.css";

html,body{
    display: flex;
    justify-content: baseline;
    align-items: center;
    place-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--primaryColor-9);
}

.explorepage-container {
    position: sticky;
    width: 80%;
    min-height: 85%;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    left: 30vh;
    margin-top: 3vh;
    margin-bottom: 12vh;
    background-color: var(--black);
    border-radius: 10px;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.switch-mode-button{
    font-family: var(--hammersmith-one);
    background-color: transparent;
    color: #daefe7;
    text-align: center;
    width: 96px;
    margin-top: 10px;
    padding-right: 1px;
    padding-left: 1px;
    border-radius: 10px;
    display: inline-block;
    margin-left: -25px;
}

.switch-mode-button:hover{
    cursor: pointer;
}

.switch-radio:checked+label {
    width: 96px;
    margin-top: 10px;
    padding: 5px;
    padding-right: 1px;
    padding-left: 1px;
    display: inline-block;
    background-color: #daefe7;
    border-radius: 10px;
    text-align: center;
    font-family: var(--hammersmith-one);
    color: #31463e;
}

.switch-mode{
    padding-left: 20px;
}

.switch-radio{
    visibility: hidden;
}

.search-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 10px;
    height: fit-content;
}
.search-container form {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.search-bar {
    width: fit-content;
    padding: 10px;
    height: fit-content;
    background-color: white;
    border-width: 1px;
    border-color: var(--primaryColor-6);
    border-radius: 20px;
    color: var(--black);
    font-size: 16px;
    justify-content: center;
}

.filter-type-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.filter-type-container h4 {
    color: white;
    width: 100%;
}
.filter-type-list {
    width: fit-content;
    padding: 10px;
    justify-items: center;
    border-radius: 20px;
    border: 2px solid black;
    background-color: var(--primaryColor-3);
}

.filter-genre-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.filter-genre-container h4 {
    color: white;
    width: 100%;
}
.filter-genre-list {
    width: fit-content;
    padding: 10px;
    justify-items: center;
    border-radius: 20px;
    border: 2px solid black;
    background-color: var(--primaryColor-3);
}

.sort-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.sort-container h4 {
    color: white;
    /* width: 100%; */
}
.sort-list {
    width: fit-content;
    padding: 10px;
    justify-items: center;
    border-radius: 20px;
    border: 2px solid black;
    background-color: var(--primaryColor-3);
}

.search-button-container {
    width: 100%;
}
.search-button {
    background-color: var(--green);
    font-family: var(--hammersmith-one);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    outline: none;
}

.result-container {
    width: 100%;
}

.result-list {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
    gap: 10px;
    width: 100%;
}
.result {
    background-color: var(--primaryColor-6);
    border-radius: 10px;
    height: 100%;
    max-width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.result:hover {
    background-color: var(--primaryColor-8);
}
.result:active {
    background-color: var(--primaryColor-8);
    transform: translateY(2px);
}
.result-cover {
    width: 100%;
    border-radius: 10px;
}
.result-title {
    margin-top: 5px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}


/* .result-song-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.result-song-cover {
    width: 9vh;
    display: inline-block;
    position: relative;
}
.result-cover-img {
    width: 75%;
    border-radius: 10px;
}
.result-song-title {
    color: white;
    font-size: 16px;
    width: 35%;
}
.result-song-artist {
    color: white;
    font-size: 16px;
    font-weight: lighter;
    width: 35%;
}
.result-song-genre {
    color: white;
    font-size: 16px;
    font-weight: lighter;
    width: 25%;
}
.result-song-duration {
    color: white;
    font-size: 16px;
    font-weight: lighter;
    width: 5%;
} */